.card-cantainer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;
    
    
    
}
.blur{
    opacity: 0.2;
    
}
.card-heading{
    /* width: 100%;
    height: 200px;*/
  
    height:80px;
    width: 50%; 
    display: flex;
    
    margin: auto;
    align-items: center; 
    flex-direction: row;
    position: relative; 
    justify-content: space-evenly;
    
}
.card-heading h1{
    font-size:40px;
    font-weight: bold;
    margin: 0px;
}
.card-heading i{
   
    margin-top: 22px;
    margin-left: 30px;
}
.card-design{

    width: 18%;
    height: 400px;
    background-color:white;
    border-width: 1px;
    border-color: lightcoral;
    border-style:solid;
    /* text-align: center; */
    border-radius: 15px;
    box-shadow:2px 4px 3px 2px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    /* margin-left: 620px; */
    
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;
       
}
.card-content del{
    color: red;
    margin-left: 80px;
   
    text-align: center;
}
.card-content h3{
    margin-left: 40px;
    text-align: center;
    color: lightcoral;
    font-size: 25px;
    
}
.card-content hr{
    width: 230px;
   
}
.card-input{
    margin-top: 18px;
    margin-right: 70px;
 }
.card-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    padding-top: 130px;
    padding-right: 20px;
}
.item-container{
    position: relative;
    bottom: 18em;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;    
}
.add-container{
    
    width: 20%;
    height: 200px;
    background-color:white;
    border-width: 1px;
    border-color: lightcoral;
    border-style:solid;
    text-align: center;
    border-radius: 15px;
    box-shadow:2px 4px 3px 2px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.add-container p{
    font-size: 20px;
    font-weight: bold;
}
input[type=text] {
    width: 80%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(238, 102, 12);
    box-sizing: border-box;
    
  }
.btn{
    border: 0px;
    width: 80px;
    height: 30px;
    color:white;
    background-color:coral;
    font-size: 16px;
    margin-bottom: 5px;
    box-shadow: 1px 2px  2px grey;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
@media screen and (min-width:350px) and (max-width:700px){
    .blur{
        opacity: 0.2;
        
    }
    .card-cantainer{
        width: 80%;
        height: 600px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        align-items: center;
        
    }
    
    .card-heading{
        /* width: 100%;
        height: 200px;*/
      
        height:50px;
        width: 80%; 
        display: flex;
       
        margin-bottom:10px;
        align-items: center; 
        flex-direction: row;
        position: relative; 
        justify-content: space-evenly;
        
    }
    .card-heading h1{
        font-size:30px;
        font-weight: bold;
        margin: 0px;
    }
    .card-heading i{
       
        margin-top: 22px;
        margin-left: 30spx;
     
    }
    .card-design{
      
        width: 80%;
        height: 330px;
        background-color:white;
        border-width: 1px;
        border-color: lightcoral;
        border-style:solid;
        text-align: center;
        border-radius: 15px;
        box-shadow:2px 4px 3px 2px gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
        margin-left: 30px;
        margin-top: 20px;
    }
    .card-content del{
        color: red;
        margin-left: 30px;
       
        text-align: center;
    }
    .card-content h3{
        margin-left: 30px;
        text-align: center;
        color: lightcoral;
        font-size: 25px;
        
    }
    .card-content hr{
        width: 200px;
        margin-left:50px;
    }
    .card-input{
        margin-top: 10px;
        margin-left: 30px;
     }
    .card-footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;
        padding-top: 120px;
        padding-right: 20px;
    }
    .item-container{
        position: relative;
        bottom: 16em;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        align-items: center;
    }
    .add-container{
        
        width: 80%;
        height: 160px;
        background-color:white;
        border-width: 1px;
        border-color: lightcoral;
        border-style:solid;
        text-align: center;
        border-radius: 15px;
        box-shadow:2px 4px 3px 2px gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
    }
    .add-container p{
        font-size: 15px;
        font-weight: bold;
    }
    input[type=text] {
        width: 80%;
        padding: 8px 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgb(238, 102, 12);
        box-sizing: border-box;
        
      }
    .btn{
        border: 0px;
        width: 80px;
        height: 30px;
        color:white;
        background-color:coral;
        font-size: 14px;
        margin-bottom: 5px;
        box-shadow: 1px 2px  2px grey;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
    }


}