.card-cantainer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;
    
}

.card-heading{
    /* width: 100%;
    height: 200px;*/
  
    height:80px;
    width: 50%; 
    display: flex;
    
    margin: auto;
    align-items: center; 
    flex-direction: row;
    position: relative; 
    justify-content: space-evenly;
    
}
.card-heading h1{
    font-size:40px;
    font-weight: bold;
    margin: 0px;
}
.card-heading i{
   
    margin-top: 22px;
    margin-left: 30px;
}
.card-design{

    width: 16%;
    height: 350px;
    background-color:white;
    border-width: 1px;
    border-color: lightcoral;
    border-style:solid;
    /* text-align: center; */
    border-radius: 15px;
    box-shadow:2px 4px 3px 2px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    /* margin-left: 620px; */
    
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;
       
}
.card-content del{
    color: red;
    margin-left: 80px;
   
    text-align: center;
}
.card-content h3{
    margin-left: 40px;
    text-align: center;
    color: lightcoral;
    font-size: 25px;
    
}
.card-content hr{
    width: 230px;
   
}
.card-input{
    margin-top: 18px;
    margin-right: 70px;
 }
.card-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    padding-top: 130px;
    padding-right: 20px;
}
@media screen and (min-width:350px) and (max-width:700px){
    .card-cantainer{
        width: 80%;
        height: 600px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        align-items: center;
        
    }
    
    .card-heading{
        /* width: 100%;
        height: 200px;*/
      
        height:50px;
        width: 80%; 
        display: flex;
       
        margin-bottom:10px;
        align-items: center; 
        flex-direction: row;
        position: relative; 
        justify-content: space-evenly;
        
    }
    .card-heading h1{
        font-size:30px;
        font-weight: bold;
        margin: 0px;
    }
    .card-heading i{
       
        margin-top: 22px;
        margin-left: 30spx;
     
    }
    .card-design{
      
        width: 80%;
        height: 330px;
        background-color:white;
        border-width: 1px;
        border-color: lightcoral;
        border-style:solid;
        text-align: center;
        border-radius: 15px;
        box-shadow:2px 4px 3px 2px gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
        margin-left: 30px;
        margin-top: 20px;
    }
    .card-content del{
        color: red;
        margin-left: 30px;
       
        text-align: center;
    }
    .card-content h3{
        margin-left: 30px;
        text-align: center;
        color: lightcoral;
        font-size: 25px;
        
    }
    .card-content hr{
        width: 200px;
        margin-left:50px;
    }
    .card-input{
        margin-top: 10px;
        margin-left: 30px;
     }
    .card-footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;
        padding-top: 120px;
        padding-right: 20px;
    }
}