.blur{
    opacity: 0.2;
    
}

.container{
    width: 100%;
    height: 500px;
    /* display: flex; */
    margin-top: 50px;
  
    /* align-items: center;
    overflow: hidden; */
    

}
.mobile-card-container{
    /* display: flex; */
    
    margin: 5px;
    text-align: center;
    /* position: relative;
    align-items: center; */
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;
}
.mobile-card-heading{
    height:80px;
    width: 50%; 
    display: flex;
    flex-direction: row;
    position: relative; 
    justify-content: space-evenly;
    margin-right: 0%;
 }
.mobile-card-heading h1{
    font-size:40px;
    font-weight: bold;
}
.mobile-card-heading span{
    color: grey;
}
.fa {
   
    margin-top: 22px;
    margin-left: 60px;
}
.mobile-card{
    display: flex;
    width: 50%;
    

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.mobile-card-design{
    width: 40%;
    /* height: 40%; */
    padding: 5px;
    margin: 5px;
    background-color:white;
    border-width: 1px;
    border-color: lightcoral;
    border-style:solid;
    border-radius: 10px;
    box-shadow:2px 2px 2px 2px gray;
    
  
}
.item-container{
    position: relative;
    bottom: 20em;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;    
}
.add-container{
    
    width: 20%;
    height: 200px;
    background-color:white;
    border-width: 1px;
    border-color: lightcoral;
    border-style:solid;
    text-align: center;
    border-radius: 15px;
    box-shadow:2px 4px 3px 2px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.add-container p{
    font-size: 20px;
    font-weight: bold;
}
input[type=text] {
    width: 80%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(238, 102, 12);
    box-sizing: border-box;
    
  }
.btn{
    border: 0px;
    width: 80px;
    height: 30px;
    color:white;
    background-color:coral;
    font-size: 16px;
    margin-bottom: 5px;
    box-shadow: 1px 2px  2px grey;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (min-width:350px) and (max-width:700px) {
    body{
        overflow: hidden;
        position: relative;
       
        
    }
    .blur{
        opacity: 0.2;
        
    }
    .container{
        width: 100%;
        height: 550px;
        /* display: flex; */
        margin-top: 50px;
       
        align-items: center;
        overflow: hidden;
        left: 0px;
    
    }
    
    .mobile-card-container{
        /* display: flex; */
        
        margin: 0px;
        text-align: center;
        position: relative;
        height: 500;
    }
    .mobile-card-heading{
        height:80px;
        width: 100%; 
        display: flex;
        flex-direction: row;
        position: relative; 
        justify-content: space-evenly;
        margin-right: 0%;
        margin-bottom: 10px;
     }
    .mobile-card-heading h1{
        font-size:40px;
        font-weight: bold;
    }
    .mobile-card-heading span{
        color: grey;
    }
    .fa {
       
        margin-top: 22px;
        margin-left: 80px;
    }
    .mobile-card{
        display: flex;
        width: 100%;
        
    
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }
    .mobile-card-design{
        width: 90%;
        /* height: 40%; */
        
        margin: 5px;
        background-color:white;
        border-width: 1px;
        border-color: lightcoral;
        border-style:solid;
        border-radius: 10px;
        box-shadow:2px 2px 2px 2px gray;
        
      
    }
    .item-container{
        position: relative;
        bottom:24em;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        align-items: center;
    }
    .add-container{
        
        width: 80%;
        height: 180px;
        background-color:white;
        border-width: 1px;
        border-color: lightcoral;
        border-style:solid;
        text-align: center;
        border-radius: 15px;
        box-shadow:2px 4px 3px 2px gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
    }
    .add-container p{
        font-size: 15px;
        font-weight: bold;
    }
    input[type=text] {
        width: 80%;
        padding: 8px 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgb(238, 102, 12);
        box-sizing: border-box;
        
      }
    .btn{
        border: 0px;
        width: 80px;
        height: 30px;
        color:white;
        background-color:coral;
        font-size: 14px;
        margin-bottom: 5px;
        box-shadow: 1px 2px  2px grey;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
    }

}